body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #7ae298;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #7ae298 0%, #9af282 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #7ae298 0%, #9af282 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #7ae298 0%, #9af282 100%);
}

.cube {
  position: relative;
  font-family: 'Oswald', sans-serif;
  width: 250px;
  height: 250px;
  box-shadow: 30px 30px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* add position for ants */
.ants {
  fill: black;
  width: 15px;
  height: 25px;
}

/* add values of positions and animations and animation delays (if you want) for each ant*/
#ant1 {
  position: absolute;
  animation: ant-1-animation 5s ease infinite;
  animation-direction: normal;
  top: 20px;
  left: 20px;
}

#ant2 {
  position: absolute;
  animation: ant-2-animation 5s ease infinite;
  animation-direction: normal;
  top: -30px;
  left: 50px;
}

#ant3 {
  position: absolute;
  animation: ant-3-animation 4s ease infinite;
  animation-direction: normal;
  bottom: 0;
  right: 10px;
}

#ant4 {
  position: absolute;
  animation: ant-4-animation 5s ease infinite;
  animation-direction: normal;
  bottom: 80px;
  right: 10px;
}

/* ANT-ANIMATIONS */
/* ANT 1 */
@keyframes ant-1-animation {

  0% {
    top: 20px;
    left: 20px;
    transform: rotate(90deg);

  }

  20% {

    transform: rotate(90deg);
  }

  25% {

    top: 20px;
    left: 150px;
    transform: rotate(-27deg);

  }


  45% {
    transform: rotate(-27deg);
  }

  50% {
    top: -60px;
    left: 90px;
    transform: rotate(190deg);


  }

  70% {
    transform: rotate(190deg);
  }

  75% {
    top: 150px;
    bottom: -120px;
    transform: rotate(0deg);

  }

}

/* ANT 2 */
@keyframes ant-2-animation {
  0% {
    transform: rotate(180deg);
    top: -30px;
    left: 50px;
  }




  50% {
    transform: rotate(180deg);
    left: 50px;
    top: 90px;
  }

  55% {
    transform: rotate(0deg);
  }
}

/* ANT 3 */
@keyframes ant-3-animation {
  0% {
    bottom: 0;
    right: 10px;
  }

  5% {
    transform: rotate(-40deg);
  }

  50% {
    transform: rotate(-40deg);
    bottom: 130px;
    right: 130px;
  }

  55% {
    transform: rotate(-220deg);
  }

  99% {
    transform: rotate(-220deg);
  }
}

@keyframes ant-4-animation {
  0% {
    bottom: 80px;
    right: 10px;
    transform: rotate(90deg);
  }

  5% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(90deg);
    bottom: 80px;
    right: -50px;
  }

  55% {
    transform: rotate(-20deg);
  }

  75% {
    bottom: 230px;
    transform: rotate(-20deg);
    right: -5px;
  }

  80% {
    transform: rotate(200deg);

  }

  95% {
    transform: rotate(200deg);

  }

  100% {
    bottom: 80px;
    right: 10px;
  }
}